# Node modules
node_modules/

# Build output
build/
dist/
.next/
.out/
.vite/

# Environment variables
.env
.env.*  # handles .env.development, .env.production etc.

# Logs
logs/
*.log

# Cache
.cache/

# OS-specific
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Editor folders
.vscode/
.idea/
